<p>Let's join the A-Look-So !</p>
<div class="article_list">
  <ul>
    <% @articles.each do |p| %>
      <li>no.<%= p.id %> <%= link_to p.subject, show_path(id: p.id) %></li>
<!--      <li>Content : <%#= p.content %></li>-->
      <br>
    <% end %>
  </ul>
  <%= paginate @articles %>

  <button class="btn btn-primary"> <%= link_to "Write", writing_path%></button>

</div>